{{define "initialize"}}
<head>
<title>{{.sdDisplay}} {{.siteName}}</title>
<script src="/scripts/jquery-1.11.3.js"></script>
<script src="/scripts/soundboard.js"></script>
<script src="/scripts/flash.js"></script>
<script src="/scripts/ajax_forms.js"></script>
<link rel="icon" type="image/png" href="/images/favicon.png" />
<link rel="stylesheet" href="{{.url}}/style/css/ofelpaso.css">
<link rel="stylesheet" href="/scripts/animate.css">
</head>
{{end}}
