{{define "main"}}
<main>
<div class="flash-success"></div>
<div class="flash-error"></div>
<div class="flash-notice"></div>
<div class="flash-alert"></div>
<section class="content">
	<article class="type-system-geometric">
	<h1 class="title">{{.title}}</h1>
	{{.body}}
	</article>
</section>
</main>
{{end}}
