{{define "main-navigation"}}
<nav id="main-navigation">
	<div class="main-nav-link first">Link 1</div>
	<div class="main-nav-link">Link 2</div>
	<div class="main-nav-link">Link 3</div>
	<div class="main-nav-link">Link 4</div>
</nav>
{{end}}
